<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6a13da10-287f-446e-bebe-77bea1cdb62c/resourcegroups/DAM-Dev/providers/Microsoft.Web/sites/DAMBackend20250213013817</ResourceId>
    <ResourceGroup>DAM-Dev</ResourceGroup>
    <ApiResourceId>/subscriptions/6a13da10-287f-446e-bebe-77bea1cdb62c/resourceGroups/DAM-Dev/providers/Microsoft.ApiManagement/service/DAMBackendapi/apis/DAMBackend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dambackend20250213013817-hgd5d0escpdxc2ck.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>b286ddff-927f-4b95-b3f6-194bc8a1776a</ProjectGuid>
    <PublishUrl>https://dambackend20250213013817-hgd5d0escpdxc2ck.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>